<div class="task_list">
  <h1>TASKLIST</h1>
  <div class="list">
    <h2>YOUR TASKS</h2>
    <ol class="task-list">
      <% @tasks.each do |task| %>
      <li>
        <%= task[:action] %>
      </li>
      <% end %>
    </ol>
  </div>
  <footer>
    <p>
      &copy 2018
    </p>
  </footer>
</div>
