<h2>Task Details</h2>
<p>
  <strong>Task ID:</strong>
  <%= @tasks[:id] %>
</p>
<p>

</p>
<p>
  <strong>Task:</strong>
  <%= @tasks[:action] %>
</p>
<p>

</p>
<p>
  <strong>Detail:</strong>
  <%= @tasks[:description] %>
</p>
<p>

</p>
<p>
  <strong>Completion Date:</strong>
  <%= @tasks[:completion_date] %>
</p>
<p>

</p>
