// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: cursive;
  background-color: lightgreen;
  grid-row: 1 / 2;
}

h2 {
  font-family: cursive;
  background-color: lightgreen;
}

p {
  font-size: 1.5em;
  font-family: sans-serif;
}

li {
  font-size: 1.5em;
}

.task_list {
  display: grid;
  grid-template: 1fr 4fr 1fr / 1fr 1fr 3fr;
  border: black solid 2px;
}

.list {
  grid-column: 3 / -1;
  grid-row: 2 / -2;
  padding: 2em;
  border: black solid 2px;
  border-radius: 10%;
  margin-right: 5em;
}

footer {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  text-align: center;
  font-size: .5rem;
  padding-top: 2rem;
  margin-top: 3rem;
  border-top: black solid 1px;
}
